{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Sitemap{% endblock %}

{% block content_ %}
    <div class="container-fluid" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="right-column-page-title">Site Map</h1>
                <div class="description" style="margin-bottom: 20px;">An overview of the available content on this site. Keep the pointer still over an item for a few
                    seconds to get its description.
                </div>
                <ul class="navTreeLevel list-unstyled">
                    {% for page in pages %}
                         <li class="navTreeItem">
                        {% if page.depth == 3 %}
                            <div>
                                <a class="folder-open" href="{% pageurl page %}"> {{ page }}</a>
                            </div>

                        {% else %}
                            <ul class="navTreeLevel2 list-unstyled">
                                <li>
                                    <a class="file" href="{% pageurl page %}"> {{ page }}</a>
                                </li>
                            </ul>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
